<h1>Ask a question</h1>
<p>Your personal coach will reply straight away</p>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
